.container {
    padding: 16px;
}

.loading-cover {
    background: #ffffff99 !important;
    z-index: 1 !important;
}

.center {
    margin: 0 auto;
    text-align: center;
}


.message {
    margin: 20vh auto;
    font-size: large !important;
    text-align: center;
}